.add-cosmetics-form {
  padding: 0 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__textarea {
    height: 176px !important;
    resize: none;
  }

  &__fields-container {
    display: flex;
  }

  &__brand-container {
    display: flex;
    flex-direction: column;
    width: 66%;
    margin-right: 16px;
  }

  &__price-container {
    display: flex;
    flex-direction: column;
    width: 32%;
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
  }
}