.password-info-list {
  margin: 16px 0 0 0;
  list-style-type: '\2014';
  padding-left: 18px;

  &__item {
    color: #FDEAE3;
    text-align: left;
    padding-left: 8px;
    font-size: 16px;
    line-height: 22px;

    &-small-device {
      color: #FC4475;
      text-align: left;
      padding-left: 8px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}