.registration {
  width: 100%;
  height: 100vh;
  padding-top: 17px;

  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 56px;
    position: relative;
    height: 100vh;

    &-link {
      color: #EFAAA1;
    }
  }
}