.App {
      height: 100%;
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
    .App {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
}